body {
  font-family: 'Arial', sans-serif;
  background-image: url("{% static 'img/bgc.jpg' %}"); 
  background-size: cover; /* Ensure the image covers the entire body */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  margin: 0;
  padding: 0;
  color: #333;
}


.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.success-message {
  margin-top: 15px;
  color: #28a745;
  text-align: center;
  font-weight: bold;
}

.contact-info {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0056b3;
}
